@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

$themeColor1:rgb(8, 146, 165);
$themeColor2:rgb(6, 144, 143);
$themeColor3:rgb(12, 164, 165);
$themeColor4:rgb(245, 211, 175);
$themeColor5:rgb(203, 154, 118);
$themeColor6:rgb(187, 126, 93);


body{
    font-family: "Cactus Classical Serif" !important;
    font-weight: 400;
    font-style: normal;
  }
  