$themeColor1:rgb(212, 245, 245);
$themeColor2:rgb(147, 183, 190);
$themeColor3:rgb(85, 67, 72);
$themeColor4:rgb(140, 154, 158);
$themeColor5:rgb(116, 117, 120);

@import '~bootstrap/scss/bootstrap.scss';
